body {
    text-align: center;
    margin: 0;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}

h3 {
    font-family: 'Merriweather', serif;
}

hr {
    border: dotted #FF5757 6px;
    border-bottom: none;
    width: 4%;
    margin: 50px auto;
}

.subtitle {
    color: white;
}

.top-container {
    position: relative;
    background-color: #FF5757;
    display: block;
    padding: 2.5%
}

.middle-container {
    position: relative;
    background-color: #f9f6f7;
    padding: 3rem;
}

.bottom-container {
    position: relative;
    background-color: #FF5757;
    padding: 3rem;
}

.profile-pic {
    border-radius: 50%;
}

.intro {
    width: 40%;
    margin: 0 auto;
}

.contact-message{
    margin-bottom: 40px;
}

.footer-link {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: white;
    padding: 0 2rem;
    font-size: 1rem;
}

.btn {
  font-family: arial;
  font-weight: bold;
  text-decoration: none;
  color: #FFFFFF !important;
  font-size: 20px;
  box-shadow: 1px 1px 1px #BEE2F9;
  padding: 10px 25px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  background: #FF5757;
}
.btn:hover {
  color: #FFFFFF !important;
  background: #050A0F;
}
